.nav-link {
    color: rgba(0, 0, 0, 0.9)
}

.nav-link:hover {
    color: rgb(152, 152, 152)
}

section {
    padding: 100px 0;
    height: 85vh;    
}

#for_img {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/modern-muslim-woman-in-hijab-in-office-room.jpg);
    border-radius:  25px;
    background-size: cover;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

.btn_itd {
    display: block;
    max-width: 450px;
    margin: 200px auto 0 auto;
    cursor: pointer;
}

