/* Серый цвет фона*/
.bg-color {
    background-color: rgb(245,245,245);
}
/* цвета кнопки в шапке */
.nav-link {
    color: rgba(0, 0, 0, 0.9)
}

.nav-link:hover {
    color: rgb(152, 152, 152)
}

/*Изображение на главной*/
#for_img {
    padding: 100px 0;
    height: 85vh;  
}

#for_img {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/modern-muslim-woman-in-hijab-in-office-room.jpg);
    border-radius:  25px;
    background-size: cover;
}

.wht-border {
    border: 1px solid white;
    border-radius: 24px;
    width: max-content;
    margin: auto;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.ilg_btn_start {
    display: block;
    max-width: 450px;
    margin: 200px auto 0 auto;
    cursor: pointer;
}

h1, h6 {
    margin-top: 30px;
}
/* размеры фона на всех страницах */
.bg_size, .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.container {
    border-radius:  12px;  
}

.bg_size {
    margin-top: 30px;
}
/* кнопка Начать на странице с темами */
.btn-study {
    padding: 12px 22px;
    width: 150px;
}

.ilg_last_theme, h2, .btn-study {
    margin: 15px 5px;
} 

/*Список тем*/
.ilg_btn_theme {
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    width: 100%;
   align-items: center;
   justify-content: space-between;
   padding-left: 30px;
   padding-right: 30px;
}

.ilg_icon_done {
   color: green;
}
    
@media screen and (max-width: 540px){
    .course_text {
        display: none;
    }
    .welcome_text {
        display: flex;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, .9), 
            transparent);
        height: 55vh;
        align-items: end;
    }
    #welcome_text {
        font-size: 32px;
        color: white;
    }

    .btn-study {
        width: 100%;
        max-width: 539px;
        border: solid white;
        border-radius: 12px;
    
    } 


}
